<% layout ('layout/pattern') -%>

<body>
    <div class="panel">
        <div class="panel__button-block">
            <button id="signInBtn" class="panel__button panel__button--active">Sign in</button>
            <button id="signUpBtn" class="panel__button">Sign up</button>
        </div>
        <form action="" class="panel__form" id="loginForm">
            <label for="e-mail">E-mail</label>
            <input type="email" name="e-mail" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button type="submit">Sign in</button>
        </form>
        <form action="" class="panel__form none" id="registerForm">
            <label for="e-mail">E-mail</label>
            <input type="email" name="e-mail" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button type="submit">Sign up</button>
        </form>
    </div>
</body>

<script defer>
    const signInBtn = document.querySelector("#signInBtn");
    const signUpBtn = document.querySelector("#signUpBtn");
    const loginForm = document.querySelector("#loginForm");
    const registerForm = document.querySelector("#registerForm");

    function onPaginationClick(evt) {
        if (evt.target.classList.contains("panel__button--active")) return;

        signInBtn.classList.toggle("panel__button--active");
        signUpBtn.classList.toggle("panel__button--active");

        loginForm.classList.toggle("none");
        registerForm.classList.toggle("none");
    }

    signInBtn.addEventListener("click", onPaginationClick);
    signUpBtn.addEventListener("click", onPaginationClick);
</script>